<div class="container">

    <div class="card">

        <h1>

            {{titulo}}</h1>

        <form>

            <div>

                <input type="text" name="nombre" [(ngModel)]="nombre"><br>

            </div> <br>

            <div>

                <input type="text" name="apellido" [(ngModel)]="apellido"><br>

            </div> <br>

            <div>

                <input type="text" name="cargo" [(ngModel)]="cargo"><br>

            </div> <br>

            <div>

                <input type="submit" value="Registrar" (click)="registrarUsuario()">

            </div>

        </form>


        <p *ngIf="registrado; else sinRegistro">{{mensaje}} con el nombre de {{nombre}} {{apellido}} Y tiene el cargo de
            <span [ngClass]="{atributosNgclass: cargo == 'ingeniero'}"> {{cargo}} 

            </span>
        </p>

        <ng-template #sinRegistro>

            <p>No hay usuarios registrado</p>

        </ng-template>


    </div>

</div>